@charset "utf-8";

/* noto sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');



/* RESET */
* { margin:0; padding:0; letter-spacing:0.5px; }
ul,ol { list-style:none; }
a,a:hover,a:active,a:focus { color:#333; text-decoration:none; }
table { border-collapse:collapse; border-spacing:0; }
img { border:0 none; vertical-align:top; }
textarea { resize:none; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{ display:block; }

/* font rule */
body,
table,
input,
textarea,
select,
button,
th,
td,
p,
li {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:100;
}

/* menu nav */
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  .navmar{
    margin:0 15px;
  }

  
  .container {
    max-width: 960px;
  }